{% extends "base.html" %}
{% block title %}Edit Profile - {{ profile.user.username }}{% endblock %}

{% block body %}
<div class="container">
    
    {% if messages %}
    <div class="mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row justify-content-center mt-5" >
        <div class="col-md-8" >
            <div class="card" style="background-color: #222831; color: #948979;">
                <div class="card-header text-center">
                    <h3>Edit Profile</h3>
                </div>
                <div class="card-body">
                  
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                      
                        <div class="mb-3">
                            <label for="id_image" class="form-label">Profile Image</label>
                            <br>
                            {{ form.image }}
                            {% if form.image.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.image.errors }}
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_bio" class="form-label">Bio</label>
                            <br>
                            <textarea name = "bio" id="id_bio" cols=50 rows= 5 style="background-color: #948979"></textarea>
                
                            {% if form.bio.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.bio.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label for="id_favorite_book" class="form-label">Favorite Book</label>
                            <br>
                           <textarea name = "favorite_book" id="id_favorite_book" cols=50 rows= 3 style="background-color: #948979"></textarea>
                            {% if form.favorite_book.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.favorite_book.errors }}
                                </div>
                            {% endif %}
                        </div>
                        
                        <button type="submit" class="btn rounded" style="background-color: #948979; color: #222831;">Save Changes</button>
                        <a href="{% url 'profile' profile.user_id%}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}